.section-one{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-one__desc{
    color: wheat;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}
.card{
    background-color: white;
    width: 220px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
}
.card-img{
    width: 220px;
    text-align: center;
    height: 150px;
    object-fit: cover;
    text-align: center;
}
.container-two{
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
}
.three{
    display: inline-block;
    text-align: center;
}
.send{
    background-color: yellow;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
} 
